
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.head-pic{
    border-radius: 10px 100px / 120px;
    outline: solid 15px green;
}
a .fa:hover {
    opacity: 2.0;
}

.fa-facebook {
    background: #3b5998;
    color: white;

}

* {
    text-align: center;
}
.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}


.social-icons {
    margin-left: 50%;
    display: inline-block;
    position: fixed;
}

a .fa fa-facebook:hover {
    filter: blur(10px);
    border: solid pink 3px;
}
header{
    text-align: center;
}
header h1{
   font-size: 80px; 
   color: red;
}

header img{
    width: 20%;
    height: 10%;
}

* {
    text-align: center;
}